// コンテンツ
.c-container{
	width: 100vw;
	height: auto;
}

.c-contents{
	&-inner{
		width: 90%;
		margin: auto;
		@include min(768){
			width: 95%;
		}
	}

	&.-f-slider,//スライダー
	&.-f-view{  //ファーストビュー
		width: 100%;
		height: auto;
		@include min(768){
			// min-height: 480px;
		}
	}
	&.-f-slider{// スライダー
		position: relative;
		.c-contentsBox{
			position: absolute;
			// ファーストビュー×スライダー関係
			&.-f-title{
				filter: drop-shadow(.5px .5px 0px #ffffff6c);
				&::after{
					content: "MISUGIDAI";
					color: white;
					font-family: e-font03;
					position: absolute;
					top: 0;
					left: -20px;
					letter-spacing: .5rem;
					-ms-writing-mode: tb-rl;
                	writing-mode: vertical-rl;
				}
				@include max(768){
					top: 4%;
					left: 45%;
					width: 12%;
				}
			}
			&.-f-subTitle{
				@include max(768){
					top: 36%;
					left: 52%;
					transform: translateX(-50%);
					width: auto;
				}
			}
			&.-f-des{
				&_01{
					top: 48%;
					left: 45.7%;
					white-space: nowrap;
					@include min(768){
						top: 55%;
						left: 60%;
					}
				}
				&_02{
					top: 48%;
					left: 45.7%;
					white-space: nowrap;
					@include min(768){
						top: 40%;
						left: 25%;
					}
				}
				&_03{
					top: 48%;
					left: 45.7%;
					white-space: nowrap;
					@include min(768){
						top: 27%;
						left: 55%;
					}
				}
			}
			&.-f-bg{
				&_01{// 山岳部の風景
					top: -1.6%;
					left: -5%;
					width: 110%;
					z-index: -1;
					@include min(768){
						top: -1.6%;
						left: -5%;
						width: 110%;
					}
				}
				&_02{// 森林の風景
					top: -.75%;
					left: -20%;
					width: 131%;
					z-index: -1;

					@include min(768){
						top: -1.6%;
						left: -10%;
						width: 117.5%;
					}
				}
				&_03{// 街の夜景
					top: -1.5%;
					left: -10%;
					width: 117.5%;
					z-index: -1;
					@include min(768){
						top: -37%;
						left: -10%;
						width: 117.5%;
					}
				}


			}
			&.-f-messageArea{
				@include max(768){
					bottom: 10%;
					left: 50%;
					transform: translateX(-50%);
					width: 87%;
				}
				.messageLists{
					li{
						position: relative;
						&::after{
							content: "";
							position: absolute;
							top: 50%;
							right: -10%;
							transform: translateY(-50%);
							width: 1px;
							height: 100%;
							background: $main-color--w;
						}
						&:last-child{
							&::after{display: none;}
						}
					}
				}
			}
			// お問い合せ
			&.-f-contactArea{
				top: 94%;
				left: 50%;
				transform: translateX(-50%);
				width: 50%;
			}
		}
	}
	&.-f-view{//ファーストビュー
		position: relative;
		overflow: hidden;
		.imgBox{
			@include max(768){
				opacity: .75;
			}
		}
		.c-contentsBox{
			position: absolute;
			&.-f-title{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 60%;
				@include max(768){
					width: auto;
					// タイトル > 中央
					&.-f-title_c{
						&::after{
							position: absolute;
							top: 120%;
							left: 50%;
							transform: translate(-50%,-50%);
							width: 100%;
							font-size: 14px;
							text-align: center;
						}
					}
					// タイトル > 右下
					&.-f-title_r{
						top: 82%;
    					left: 83%;
						&::after{
							position: absolute;
							top: 120%;
							left: 50%;
							transform: translate(-50%,-50%);
							width: 100%;
							font-size: 14px;
							text-align: center;
						}
					}
					//　タイトル >  コンセプトページ
					&.-concept{&::after{content: "コンセプト";}}
					&.-layout{&::after{content: "レイアウト";}}
					&.-plan{&::after{content: "プラン";}}
					&.-equipment{&::after{content: "設備・仕様";}}
					&.-location{&::after{content: "周辺環境";}}

				}
				@include min(768){// tb
					top: 50%;
					left: 75%;
					width: 38%;
				}
				@include min(1400){
					top: 49%;
					left: 76%;
					width: 40% !important;
				}
			}
			&.-f-logo_s{
				@include max(768){
					top: 10%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 70%;
					z-index: 1;
				}
			}
			&.-f-des{
				bottom: 0;
				left: 85%;
				transform: translateX(-50%);
				white-space: nowrap;
				// width: auto;
				@include min(768){
					left: 60%;
					transform: scale(.8);
				}
				&.-w{
					@include min(768){
						left: 75%;
					}
				}
			}
			&.-f-bird{
				&_01{// 青
					top: 20%;
					left: 15%;
					width: 5%;
					@include min(768){// tb
						top: 10%;
						left: 2%;
						width: 4%;
					}
					@include min(1400){// pc
						top: 10%;
						left: 15%;
						width: 3%;
					}
				}
				&_02{// うすい
					top: 20%;
					left: 23%;
					width: 3%;
					@include min(768){// tb
						top: 7%;
						left: 7%;
						width: 3%;
					}
					@include min(1400){// pc
						left: 18%;
						width: 2%;
					}
				}
				&_03{// 黄色
					top: 35%;
					left: 77%;
					width: 5%;
					@include min(768){// tb
						top: 21%;
						left: 84%;
						width: 2.5%;
					}
					@include min(1400){// pc
						top: 18%;
						left: 87%;
						width: 2%;
					}
				}
				&_04{// 緑
					@include min(768){// tb
						top: 60%;
						left: 57%;
						width: 2.5%;
					}
					@include min(1400){// pc
						top: 63%;
						left: 53%;
						width: 2.5%;
					}
				}
			}
			&.-f-border{
				top: 36%;
				left: 25%;
				width: 50%;
				@include min(768){// tb
					top: 22%;
					left: 63.5%;
					width: 20%;
				}
				@include min(1400){// pc
					top: 20%;
					left: 65%;
				}
			}
			&.-f-text{
				bottom: 0;
				left: 80%;
				transform: scale(.9);
			}
		}
	}


	&.-imgBg{//背景画像
		position: relative;
		.c-contentsBox{
			position: absolute;
			// ヘッダーロゴ
			&.-ja{
				top: 2%;
				left: -50%;
				@include max(1200){
					top: -8%;
					transform: scale(.8);
				}
			}
		}
	}
}